employee_login/src/main/mule/employee_login.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8a04eee1-3445-4a63-86ac-09f5e5722dd3" >
		<http:listener-connection host="0.0.0.0" port="${http}" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="a960f80f-4d32-4abb-ba14-4723306b531a" >
		<db:my-sql-connection host="${host}" port="${port}" user="${username}" password="sagar@7030" database="${database}" />
	</db:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="89357ea5-a449-403b-bd1e-a2b5af377a71" basePath="/v1" >
		<http:request-connection protocol="HTTPS" host="webexapis.com" />
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="d8afc31d-b5c6-4f36-b110-cb1716853e04" file="dev.properties" />
	<api-gateway:autodiscovery apiId="16323380" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="0dcb1cd2-2ef0-40ed-b875-17479959675d" flowRef="EmployeeAPi-main" />
	<flow name="post:\submit:application\json:EmployeeAPi-config" doc:id="bd27046c-77d1-41c3-8631-250718c734da" >
		<logger level="INFO" doc:name="Logger" doc:id="fb760371-faa1-44ba-b5fa-c714db64c49a" message="#[payload]"/>
		<ee:transform doc:name="Transform Form data to JSON" doc:id="e5e5f9e1-46ac-496f-8264-b1ae91550676">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f2fa9516-3acd-47a7-a95b-43297de08129" message="#[payload]" />
		<db:insert doc:name="storing client data" doc:id="8dcae32d-6dc1-4695-b5e2-1ea2067767f9" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into eidiko_123.client_details (empid,first_name,last_name,phone) values(:id,:fname,:lname,:phone	);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'id':payload.empid,'fname':payload.fname,'lname':payload.lname,'phone':payload.Number}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="b42c8421-d38f-416d-aed7-48b2b4777606" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"thank you for login"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>
	<flow name="employee_attendance_flow" doc:id="3a9dcd83-6c82-43bc-9b2b-9e95b69304fa" >
		<scheduler doc:name="Take_attendance_scheduler" doc:id="1ec386fc-e788-4011-8474-bcfc253feb78" >
			<scheduling-strategy >
				<cron expression="0 0 12 ? * * *" timeZone="Asia/Kolkata"/>
			</scheduling-strategy>
		</scheduler>
		<db:select doc:name="Retrive the Access token from DB" doc:id="6f74ad51-cb2e-4a6d-a8c3-f8cb1ff2d5a8" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT access_token FROM token ORDER BY access_token DESC LIMIT 1]]></db:sql>
		</db:select>
		<set-variable value="#[payload.access_token[0]]" doc:name="Set Access Token" doc:id="3bc80603-788a-4e44-b8bb-3c602545299f" variableName="access_tokne"/>
		<logger level="INFO" doc:name="Logger" doc:id="8f69f0dc-ced2-4b32-9f9c-5030e4e81348" message="#[vars.access_tokne]"/>
		<db:select doc:name="comparing tables" doc:id="4674d08d-b452-4cd8-b9c0-9c49b3d01720" config-ref="Database_Config">
			<db:sql ><![CDATA[select * FROM eidiko_123.user_details where empid not in(select empid from eidiko_123.client_details where date(login_time) =CURRENT_DATE )]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="de8bc210-e7f4-411b-ad7a-6876c010ad02" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6b0e4cf1-739b-4a09-8676-474459e34cc6" message="#[payload]"/>
		<foreach doc:name="For Each" doc:id="e7580ec9-4594-429e-a783-e49299ab805e" >
			<http:request method="POST" doc:name="Request" doc:id="97b46787-aa23-41b9-886e-1586af519c52" config-ref="HTTP_Request_configuration" path="/messages">
				<http:body ><![CDATA[#[output application/json
---
{
	"roomId" : "Y2lzY29zcGFyazovL3VzL1JPT00vY2YyZGRiOTAtZGQyYy0xMWVhLWFlZGEtMjk1MTkwMGJmNTk1",
	"text":"Absent  in Office",
	"markdown":"**Absent in Office** 
---\n
Dear employee today you are absent in office so this day will be consider as LOP \n
Employee Id:" ++  payload.empid ++"\n
Employee Name:" ++ payload.name ++"\n
Employee Contact:" ++ payload.phone ++"\n
---\n
Thanks & Regards,\n
Eidiko Systems Integrators"
}]]]></http:body>
				<http:headers ><![CDATA[#[output application/json
---
{
	"Authorization" :vars.access_tokne	
	}]]]></http:headers>
			</http:request>
		</foreach>
	</flow>
	<flow name="get:\code:EmployeeAPi-config" doc:id="32718148-dc1c-4a15-972b-a6371f7c0378" >
		<logger level="INFO" doc:name="Logger" doc:id="f00c4ace-15e2-4170-b90b-6afd1107d7c2" message="get:\code:EmployeeAPi-config"/>
		<set-variable value="#[attributes.queryParams.code]" doc:name="Set Variable" doc:id="74d968d3-e8bb-4861-83dc-d2ac1354c619" variableName="code"/>
		<logger level="INFO" doc:name="Logger" doc:id="d0beff8a-4375-4d8d-bd47-e5e963c3b571" message="#[vars.code]"/>
		<http:request method="POST" doc:name="Requesting to generate token" doc:id="f23b81a6-faca-455f-b9b7-935ec4538d71" config-ref="HTTP_Request_configuration" path="/access_token" sendCorrelationId="NEVER">
			<http:body ><![CDATA[#[%dw 2.0 
output application/x-www-form-urlencoded
---
{
"client_id":"Cb8f29cec942edc973b0803df5967b4960fd2fe61e9fa0aa5403d3f72290e0aad",
"client_secret":"294fa251691a013e3421826aa46d779d6f9725ea15131cb6d9482c2dad9fa4dc",
"code":vars.code,
"grant_type":"authorization_code",
"redirect_uri":"http://localhost:8081/code"
}]]]></http:body>
		</http:request>
		<db:insert doc:name="Insert" doc:id="8bf51e88-b1d5-40bc-9fb9-b196d99fb280" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into token values(:atoken,:aexpire,:rtoken,:rexpire);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{"atoken":"Bearer "++ payload.access_token,"aexpire":payload.expires_in,"rtoken":payload.refresh_token,"rexpire":payload.refresh_token_expires_in}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="fbbad469-6fb7-45b5-91c0-cc8f967217f9" message="Token Generated" />
	</flow>
	<flow name="refreshing_access_token" doc:id="45dd6b05-a76a-41ad-8f64-5ff211d75656" >
		<scheduler doc:name="Scheduler" doc:id="4be0f91d-85e8-4853-9454-899855510e3c" >
			<scheduling-strategy >
				<fixed-frequency frequency="2" timeUnit="HOURS"/>
			</scheduling-strategy>
		</scheduler>
		<db:select doc:name="Retriving  Refresh Token" doc:id="cdb5f274-d531-4a8c-8078-cfbaa5c73a7e" config-ref="Database_Config">
			<db:sql ><![CDATA[select refresh_token  from eidiko_123.token]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="1efd10b8-b93e-4e9f-a0c1-3a04f73bda6b" message="#[payload.refresh_token]"/>
		<http:request method="POST" doc:name="Request" doc:id="f40fc0e6-1c23-4d50-a560-87cd8dc33b18" config-ref="HTTP_Request_configuration" path="/access_token">
			<http:body ><![CDATA[#[%dw 2.0 
output application/x-www-form-urlencoded
---
{
"client_id":"Cb8f29cec942edc973b0803df5967b4960fd2fe61e9fa0aa5403d3f72290e0aad",
"client_secret":"294fa251691a013e3421826aa46d779d6f9725ea15131cb6d9482c2dad9fa4dc",
"grant_type":"refresh_token",
"refresh_token":payload.refresh_token
}]]]></http:body>
		</http:request>
		<db:update doc:name="Update" doc:id="073a9515-7c3b-4e88-a930-12ae3551aefe" config-ref="Database_Config">
			<db:sql ><![CDATA[update  eidiko_123.token set access_token=:atoken]]></db:sql>
			<db:input-parameters ><![CDATA[#[{"atoken":"Bearer " ++ payload.access_token}]]]></db:input-parameters>
		</db:update>
		<logger level="INFO" doc:name="Logger" doc:id="6ca79043-520c-4ff1-befd-2ce146965fb2" message="Token Updated"/>
	</flow>
	<flow name="post:\Registration:application\json:EmployeeAPi-config" doc:id="fe193981-4ef4-429c-99cd-45c23956a348" >
		<logger level="INFO" doc:name="Logger" doc:id="ca1eed46-8acd-4fa1-9033-336042ed6c88" message="#[payload]"/>
		<ee:transform doc:name="Transform Form data to JSON" doc:id="a9a572e0-d0d9-46fb-aed4-720ab59ef119" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="a4567cea-0385-4eb3-aa7c-fe78752c5572" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into eidiko_123.Registration (firstname,lastname,Username,password,PhoneNumber,Empid) 
values(:lfirstname,:llastname,:lemailid,:lpassword,:lPhoneNumber,:lempid);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'lfirstname': payload.firstname,
	'llastname': payload.lastname,
	'lemailid': payload.emailid,
	'lpassword' : payload.password,
	'lPhoneNumber': payload.phone,
	'lempid': payload.empid
	
	
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="6bd95713-7e76-49c9-a271-cd597cfb4aeb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Registration successful"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="get_Validation_FLow" doc:id="72e50251-0b6f-4767-b556-07229df4a4b1">
		<http:listener doc:name="Listener" doc:id="203f3508-722b-4c2e-ba85-fe56790e7d91" config-ref="HTTP_Listener_config" path="/validation"/>
		<set-variable value="#[payload.username]" doc:name="Set Variable Username" doc:id="26c5ae37-2db2-4491-bd8f-488336cc5345" variableName="Username"/>
		<set-variable value="#[payload.password]" doc:name="Set Variable Password" doc:id="8a7ef5a2-5769-4cbb-b6e4-8bd3d8e9ae70" variableName="Password "/>
		<db:select doc:name="Select" doc:id="2d6a6055-a78c-4e2c-9f9c-7a63be81f1c8" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT Username,password FROM `Registration` WHERE Username =:name;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'name': payload.username
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="0ba327cb-5097-4ba3-8bfc-347915021edf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
if(vars.Username==payload.username){
	"Message":"succefull"
}
else{
	"Message":"failed"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

</mule>
